/* *{margin:0;padding:0}; */
/* li{list-style:none}; */
/* img{vertical-align:top;border:none}; */

* {
    margin: 0;
    padding: 0;
}

.outter {
    width: 800px;
    /* height: 700px; */
    border: 1px solid black;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -350px;
}

.word {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    line-height: 43px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: brown;
}

.part {
    width: 790px;

    margin: 3px;
}

.part1 {
    /* border: 2px solid red; */
    border: 2px;
    height: 43px;
}

.part2 {
    height: 393px;
    border: 2px solid black;
}

.part3 {
    border: 2px solid black;
}

.part2_1 {
    width: 770px;
    margin: 3px 3px 0px;
    /* border: 2px solid black; */
    border: 2px;
    padding: 5px;
    position: relative;
}

.line {
    display: inline-block;
    margin-left: 5px;
    font-family: "Microsoft YaHei";
}

.line1 {
    margin-right: 20px;
}

.line2 {
    font-weight: bold;
}

.part2_2 {
    width: 770px;
    margin: 3px 3px 0px;
    /* border: 2px solid black; */
    border: 2px;
    padding: 5px;
    position: relative;
}

.textarea {
    overflow: hidden;

}

.part2_2_1 {
    /* border: 2px dashed cyan; */
    border: 2px;
    margin-top: 3px;
}

.content {
    float: left;
    margin-left: 4px;
    line-height: 335px;
}

.simplify {
    width: 575px;
    font-size: 20px;
}

.static_blank {
    height: 50px;
}

ul li {
    margin-left: 60px;
}

ul {
    margin-bottom: 20px;
}

.err_remind {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.err_remind span {
    color: red;
}